.blog-search {
  display: none;
  grid-column: 1/-1;
  @media screen and (max-width: 600px) {
    display: block;
    margin-top: 10rem;
  }
}

.blogs {
  // background-color: #86aef4;
  grid-column: 2/-1;
  display: grid;
  // padding: 0 1rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(45rem, 1fr));
  gap: 2rem;
  align-content: stretch;
  justify-content: stretch;
  color: #212529;

  @media screen and (max-width: 750px) {
    grid-column: 1/-1;
  }

  @media screen and (max-width: 600px) {
    // margin-top: 10rem;
  }
}
