.blog-post {
  border-radius: 1rem;
  padding: 2.5rem;
  background-color: #fff;
  height: fit-content;
  // max-height: 40rem;
  &-image {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  &-info {
    font-size: 1.6rem;
    color: rgba(33, 37, 41, 0.3);
    margin: 1rem 0;
    font-weight: 500;
    text-transform: capitalize;
  }
  &-content {
    font-size: 1.8rem;
  }
  &-title {
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: capitalize;
  }
  &-text {
    margin-bottom: 1rem;
    color: rgba(33, 37, 41, 0.7);
  }
  a {
    text-decoration: none;
    color: #00c170;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
}
