.header {
  background-color: #eeeeee2b;
  position: fixed;
  width: 100%;
  height: 7.5rem;
  color: #fff;

  @media screen and (max-width: 600px) {
    background-color: #00c170;
  }

  &-container {
    display: flex;
    align-items: center;
    height: inherit;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    backdrop-filter: blur(3px);
  }

  .heading {
    width: 8rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;

    .btn-buy {
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .nav {
    ul {
      @media screen and (max-width: 800px) {
        gap: 2rem;
      }
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  svg {
    color: #fff;
    font-size: 3.5rem;
    @media screen and (min-width: 600px) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
  .nav-active {
    background-color: #ffffffad;
    backdrop-filter: blur(5px);
    position: fixed;
    right: 0;
    padding-right: 2rem;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    transform: translateX(100%);
    transition: all 0.2s;

    ul {
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
    }
    a {
      color: #00c170;
      font-size: 2rem;
    }

    .btn {
      button {
        display: block;
      }
    }

    &.active {
      transform: translateX(0);
    }

    @media screen and (min-width: 600px) {
      display: none;
    }
  }
}
