*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//text-color = #212529
//

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;

  font-size: 1.6rem;
  color: #212529;
  background-color: #f4f7f7;
}

.main {
  padding: 2rem;
  width: 85%;
  margin: 0 auto;
  // display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  flex-wrap: wrap;
  color: #383f45;
  // grid-template-columns: ;
}
