*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//text-color = #212529
//

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  color: #212529;
}
