.section-hero {
  // background-image: url(../../assets//agriculture.jpg);
  background: linear-gradient(to left, #33333394, #0000003f),
    url(../../assets/agriculture.jpg);
  background-position: center;
  background-size: cover;

  height: 82vh;
  padding-top: 8rem;
}

// #00000099
