.pagination {
  grid-column: 1/-1;
  text-align: center;
  padding: 2rem 0;
  color: #00c170;
  font-size: 1.8rem;
  font-weight: 500;
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2.5rem;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  li {
    border: 2px solid #fff;
    padding: 0.4rem 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    &:hover {
      cursor: pointer;
    }
  }

  .active {
    color: #fff;
    background-color: #00c170;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }
}

.nav-btns {
  border: 2px solid #fff;
  padding: 0.4rem 1rem;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #f0f4f227;
    svg {
      color: rgb(192, 191, 191);
    }
  }
}

svg {
  color: #00c170;
  font-weight: 700;
  font-size: 2rem;
}
//btn bg =
//
