.nav {
  &-list {
    display: flex;
    list-style: none;
    gap: 4.5rem;
    text-transform: capitalize;

    a {
      text-decoration: none;
      color: inherit;
      font-weight: 600;
      font-size: 1.8rem;
    }
  }

  &-btn {
    background-color: #00c170;
    border: none;
    outline: none;
    color: inherit;
    padding: 1rem 3.5rem;
    border-radius: 5rem;
    font-weight: 600;
    font-size: 1.4rem;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

.search {
  background-color: #eee;
  height: 4.5rem;
  position: relative;
  border-radius: 1rem;
  z-index: 20;
  input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 2rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    color: inherit;

    &::placeholder {
      font-size: 1.6rem;
      color: #a4adb6;
    }
  }
  svg {
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #a4adb6;
  }
}
