.nav {
  &-list {
    display: flex;
    list-style: none;
    gap: 4.5rem;
    text-transform: capitalize;

    a {
      text-decoration: none;
      color: inherit;
      font-weight: 600;
      font-size: 1.8rem;
    }
  }

  &-btn {
    background-color: #00c170;
    border: none;
    outline: none;
    color: inherit;
    padding: 1rem 3.5rem;
    border-radius: 5rem;
    font-weight: 600;
    font-size: 1.4rem;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
